/* Couleurs */
:root {
    --primary-color: rgb(114, 159, 202);
    --secondary-color: rgb(114, 159, 202);
    --text-color: #555555;
}

/* Police de caractère */
body {

    /font-family: Arial, sans-serif;/
    font-family: 'Roboto', sans-serif;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 15px;
}
.logo {
   /* background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;*/
    overflow:hidden;
}
.logo img{
width:170px;
height:auto;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
  font-size: 2.5em;
  color:  rgb(40, 91, 138);
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase; /* Mettez le texte en majuscules */
  letter-spacing: 2px; /* Ajoutez un espacement entre les lettres */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3); /* Ajoutez une ombre au texte */
}
/* Table */
table {
    text-align: center;
    width: 100%;
    border-collapse: separate; /* Utiliser 'separate' pour permettre l'espacement entre les cellules */
    border-spacing: 10px; /* Ajuster la valeur selon votre préférence pour l'espacement entre les colonnes */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px; /* Added padding to create space around the table */
    position: relative;
    table-layout: fixed; /* Ensures consistent column width */
    background-color: #fff;
    border-radius: 8px; /* Arrondir les coins du conteneur du tableau */
  }

  th, td {
    padding: 15px; /* Increased padding for better spacing */
    text-align: center; /* Center align the text */
    font-family: 'Arial', sans-serif;
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effect */
    border-radius: 8px; /* Arrondir les coins des cellules du tableau */
  }

  th {
    background-color: rgb(114, 159, 202);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }

  th:not(:last-child),
  td:not(:last-child) {
    border-right: 1px solid #ddd; /* Ajouter une bordure à droite pour toutes les cellules sauf la dernière colonne */
  }

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  tbody tr {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  tbody tr:hover {
    transform: scale(1.05);
    background-color: #f5f5f5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  tbody tr:hover td {
    transform: scale(1.2); /* Pop-out effect on hover */
  }